{% extends "blog/base.html" %}
{% block content %}
	<article class="media content-section">
	  <img class = "rounded-circle article-img" src="{{ object.Sales_Persons_Name.profile.image.url }}">>		
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="#">{{ object.Sales_Persons_Name }}</a>
	      <small class="text-muted">{{ object.Date_Of_Delivery }}</small>
	      {% if object.Sales_Persons_Name == user or user.username == 'AnkurJain'%}
	      	<div>
	      		<a class = "btn btn-outline-secondary btn-sm mt-1 mb-1 "href="{% url 'post-update' object.id %}">Update</a>
	      		<a class = "btn btn-outline-danger btn-sm mt-1 mb-1 "href="{% url 'post-delete' object.id %}">Delete</a>
	      		{% if user.username == 'AnkurJain' %}
	      			<a class = "btn btn-outline-success btn-sm mt-1 mb-1 "href="{% url 'approve' %}">Approve</a>
	      		{% endif %}
	      	</div>
	      {% endif %}
	    </div>
	    <h2  class="article-title">{{ object.Plant_Model }}</h2>
	    <p class="article-content">{{ object.Customer_Name }}</p>
	  </div>
	</article>
{% endblock content %}
